.rounded-10 {
    border-radius: 1rem;
}

.offset-02 {
    margin-left: 3%;
}

#bookmarks {
    min-height: 100vh;
}

.root-folder {
    width: 100%;
    height: min-content;
}

.border-node {
    border: 1px solid rgba(255, 255, 255, 0.200);
}

.header-icon-folder {
    width: 0.8rem;
    height: 0.8rem;
}

.header-icon-folder-turned {
    transform: rotate(-90deg) !important;
}

a:focus {
    outline: none;
}