.hideChildren > :not(a) {
    display: none;
}

body {
    background-color: black;
}

a {
    display: block;
    padding: 10px 0 10px 30px;
    color: white;
    text-decoration: none;
    font-size: large;
    height: 100%;
    width: 100%;
}

ul, li {
    padding-left: 30px;
}


a:hover {
    background-color: grey;
}









